body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

h1 {   
    color: white;
    font-size: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#generated {
    margin: 50px;
    font-size: 30px;
}

#total {
    margin: 50px;
    font-size: 40px;
}

button {
    font-size: 30px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20%;
    margin-top: 50px;
    background-color: black;
    color: white;
    border: 5px dotted white;
    transition: width 0.3s;
}

button:hover{
    background-color: white;
    color:black;
    width: 25%;
}

p {
    color: white;
    font-size: x-large;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}